.encabezado{    
    background: var(--colorPrimario);
    font-size: 1.6rem;   
    margin: 2rem;
}

.encabezado__menu{
    display: none;
}

.encabezado__contacto{
    display: flex;
    justify-content: space-between;    
}

.grueso{
    font-weight: 700;
    color: var(--colorSecuandrio);
    
}

@media only screen and (min-width: 1024px){
    .encabezado__menu{
        display: flex;
        justify-content: space-around;

    }

    .encabezado__menu ul{
        display:flex;
        gap:20px
    }

    .encabezado__contacto{
        display: none;
    }
}