.experiencia{
    background-color: #E5e5e5 ;
    color: var(--colorSecundario);
    padding: 3.2rem;        
    
}
.experiencia h2{
    font-size: 2.2rem;
    text-align: center;
    font-weight: 700;   
    margin-bottom: 1.6rem; 
}

.experiencia__contenedor{
    width: 100%; 
    display: flex;
    flex-direction: column;   
}


.experiencia__contenedor img{
    width: 29.6rem; 
    width: 100%;         
}

.experiencia__imagen{
    display: flex;
    justify-content: center;

    }

.experiencia__pie-imagen h3{
    padding-top: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.experiencia__pie-imagen p{
    font-size: 1.4rem;
    font-weight: 500;
    
}

.experiencia__boton{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 3rem;
}


.experiencia__boton--repositorio{
    display: flex;
    color: var(--colorCuatro);
    width: 96px;
    height: 40px;
    border: 2px solid var(--colorCuatro);
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}

.experiencia__boton--demo{
    display: flex;
    color: white;
    background-color: var(--colorCuatro);
    width: 96px;
    height: 40px;
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
}

.experiencia__boton--repositorio:hover{
    display: flex;
    color: white;
    background-color: var(--colorCuatro);
    width: 96px;
    height: 40px;
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}

.experiencia__boton--demo:hover{
    display: flex;
    background-color: var(--colorPrimario);
    color: var(--colorCuatro);
    width: 96px;
    height: 40px;
    border: 2px solid var(--colorCuatro);
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px){
    .experiencia__contenedor{
        display: block;
        margin: 0 auto;
    }

    .experiencia__imagen{
        display: flex;
        justify-content: center;
}

    .experiencia__texto{
        width: 90%;        
        margin: 0 auto;    

    }

    .experiencia__contenedor img{        
        width: 90%;        
    }
}
@media only screen and (min-width: 1024px){
    .experiencia__contenedor--rowLeft{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }

    .experiencia__contenedor--rowRigth{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;        
    }
    .experiencia__contenedor img{
        width: 75.2rem;
        padding: 3rem;
    }

    .experiencia__texto{
        align-items: flex-end;
    }
}