.form{
    background-color: #EAF2FD;
}
.form__container{       

    padding: 3.2rem;
}

.form__container h2{
    font-size: 2.2rem;    
    font-weight: 700;   
    margin-bottom: 1rem;

}

.form__container p {
    font-size: 1.4rem;
    font-weight: 500;
}

.form__container form {    
    display: flex;
    flex-direction: column;
    margin: 0 auto;  
    gap:1rem;  
    
}

.form img {
    display: none;
}
form button{
    width: 50%;
    height: 40px;
    background-color: var(--colorCuatro);
    color: white;
    border: none
}

@media screen and (min-width: 1080px){
    .form{
        display: flex;
        padding: 4rem;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    .form img {
        display: block;
        width: 46.4rem;
    }

    form button{  
        width: 144px;      
        height: 51px;        
    }
}





