@media screen and (min-width: 360px) {
    
}
.presentacion{
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--colorPrimario);
    color: var(--colorSecundario);
    font-family: raleway;
    padding-bottom: 2rem;
    
}

.presentacion__texto{
    width: 100%;
    font-weight: 700;
    font-size: 1.1rem;
}

.presentacion__img--perfil img{
    height: 100px;
    width: auto;
    border-radius: 100%;
    margin-left: 3rem;
    
}

.presentacion__texto{
    padding: 1rem;    
}

.presentacion__texto h1{
    font-size: 2.2rem;
    font-weight: 700;
}

.presentacion__texto p{
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 1rem;
}
.presentacion__texto a{    
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1rem;
}

.presentacion__link{
    display: flex;
    justify-content:space-between;
    
}

@media only screen and (min-width:768px) {
    .presentacion{        
        flex-direction: row;
        padding: 2rem 2rem;
        
    }

    .presentacion__img--perfil img{
        height: 146px; 
    }
}

@media screen and (min-width:1200px){
    .presentacion{        
        flex-direction: row;
        padding: 2rem 10rem;  
        align-items: center;      
    }


    .presentacion__img--perfil img{
        height: 368px; 

    }

    .presentacion__texto h1{
        font-size: 5.2rem;    
    }

    .presentacion__texto p{
        font-size: 2.2rem;    
        margin-top: 2rem;
    }

    .presentacion__texto a{    
        font-size: 1.6rem;
        margin-top: 2rem;
    }

    .presentacion__link{
        display: flex;
        justify-content:flex-start;
        gap: 30px;    
    }   
}
